<div class = 'row featured-row'>
<div class="card featured">
  <img class="card-img featured-image" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1555447414l/44767458.jpg" alt="Card image">
  <div class="card-img-overlay d-flex h-100 flex-column justify-content-end">
    <h1 class="card-title orange"><%= @top_book.title if @top_book %></h1>
    </br>
    <h4 class="card-text overflow-custom lines-less"><%= @top_book.text if @top_book %></h4>
    <h6> <%= button_to  "Read More", book_path(@top_book.id), class: 'orange', method: 'get' %> </h6>
    </br>
  </div>
  
</div>
</div>

<div class = 'row category-row'>
<% @categories.each do |category| %>


<div class="card category">
  <img class="card-img category-image" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1555447414l/44767458.jpg" alt="Card image">
  <div class="card-img-overlay d-flex h-100 flex-column">
    <h2 class="card-title"><%= link_to category.name, category_display_path(category: category.id), class: 'text-white dark' %></h2>
    </br>
    <h5 class="card-text overflow-custom text-white mt-auto "><%= category.books.all.first.title if category.books.all.first %></h5>
    </br>
  </div>
</div>
<% end %>

</div>
