<div class = 'row featured-row'>
<div class="card featured">
  <%= index_featured_image %>
  <div class="card-img-overlay d-flex h-100 flex-column justify-content-end">
    <h1 class="card-title orange"><%= @top_book&.title %></h1>
    </br>
    <h4 class="card-text overflow-custom lines-less"><%= @top_book&.text %></h4>
    <h6> <%= top_button %> </h6>
    </br>
  </div>
  
</div>
</div>

<div class = 'row category-row'>
<% @categories.each do |category| %>
<% current_book = category.books.order_by_newest.first %>
<div class="card category">
  <%= index_category_image(current_book) %>
  <div class="card-img-overlay d-flex h-100 flex-column">
    <h2 class="card-title"><%= link_to category.name, category_display_path(category: category.id), class: 'text-white dark underlay' %></h2>
    </br>
    <h5 class="card-text overflow-custom text-white mt-auto unerlay "><%= current_book&.title %></h5>
    </br>
  </div>
</div>
<% end %>

</div>
