
<p>
  <strong>Author:</strong>
  <%= @book.author_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @book.text %>
</p>

<span class="text-muted"><%= vote_or_unvote_btn(@book) %> <%=[@book.votes.size] %></span>


<p>
  <strong>Image:</strong>
  <%= image_tag(@book.photo, width: 200) if @book.photo.attached? %>
</p>




<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', books_path %>
