</br>
</br>
</br>
</br>
<h2>
  <strong><%= @book.title %></strong>
</h2>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', books_path %>
</br>
<p>
<strong class="text-muted"><%= vote_or_unvote_btn(@book) %> </strong>

<strong>Total Votes: <%=[@book.votes.size] %></strong>
</p>
</br>
<h5>
  <strong>Author:</strong>
  <%= @book.author_id %>
</h5>

<p>
  <strong>Story:</strong>
  <%= @book.text %>
</p>

<p>
  <%= image_tag(@book.photo, width: 500) if @book.photo.attached? %>
</p>
