
<p>
  <strong>Author:</strong>
  <%= @book.author_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @book.text %>
</p>

<p>
  <strong>Image:</strong>
  <%= @book.image %>
</p>

<%= image_tag(@book.photo, width: 200) if @book.photo.attached? %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', books_path %>
