<h2>
  <strong class= 'orange'><%= @book.title %></strong>
</h2>
<% if @book.user == current_user %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Delete', @book, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</br>
<p>
<strong class="text-muted"><%= vote_or_unvote_btn(@book) %> </strong>

<strong>Total Votes: <%=[@book.votes.size] %></strong>
</p>
</br>
<h5>
  <strong class="orange">Author:</strong>
  <%= @book.user.name %>
</h5>

<p>
  <strong>Story:</strong>
  <br>
  <%= @book.text %>
</p>

<p>
  <%= image_tag(@book.photo, width: 500) if @book.photo.attached? %>
</p>
