<!DOCTYPE html>
<html>
  <head>
    <title>GreatBooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <nav class="navbar">
  <%= link_to 'Home', root_path %>
    <div class="">
      <div class="nav-item">
        <%= link_to 'Books', root_path, class:"nav-link"%>
      </div>
    </div>

  <% if current_user %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <p>Current-User: <%= current_user.name %></p>
    <p><%= current_user.email %></p>
  <%# <%= image_tag(current_user.image) unless current_user.image.nil? %>
    <% else %>
    <%= link_to 'Sign in', user_session_path %>
  <% end %>
  </nav>

  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p id="error_explanation"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
