<!DOCTYPE html>
<html>
  <head>
    <title>GreatShorts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
  <nav class="navbar navbar-custom fixed-top">
  <%= link_to 'GreatShorts', root_path, class: 'navbar-brand p-1' %>
  <span class= 'orange dot'>.</span>
  
      <div class="nav-item ml-2 ">
        <%= link_to 'Home', root_path, class:"nav-link orange  text-uppercase"%>
      </div>

      <div class="nav-item mr-auto">
        <%= link_to 'Write a Story', new_book_path, class:"nav-link text-uppercase"%>
      </div>
      <div class="nav-item d-flex justify-content-around w-50 mr-auto ml-auto ">
      <% @categories.each do |category| %>
         <h6 cla> <%= link_to category.name, category_display_path(category: category.id), class: 'orange' %> </h6>
      <% end %>
      </div>
  <% if current_user %>
    <div class="nav-item mr-5 font-weight-bold font-italic ml-auto">
        User: <%= current_user.name ? current_user.name : current_user.email %>
    </div>

    <div class="nav-item">
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'p-2  text-uppercase'%>
    </div>

    
  <% else %>
    <div class="nav-item mr-3">
      <%= link_to 'Sign in', user_session_path, class: 'text-uppercase' %>
    </div>

    <div class="nav-item">
      <%= link_to 'Register', new_user_registration_path, class: 'text-uppercase' %>
    </div>

  <% end %>
  </nav>

  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p id="error"><%= alert %></p>
  <% end %>
    <%= yield %>


    <footer class="navbar footer-custom navbar-custom fixed-bottom">
       <%= link_to 'GreatShorts', root_path, class: 'navbar-brand ml-4 white p-1' %>
       <span class= 'orange dot'>.</span>

      <div class="nav-item ml-auto">
        <%= link_to 'Original Visual Design is under the Creative Commons License of Nelson Sakwa ', 'https://www.behance.net/sakwadesignstudio', class:"nav-link white"%>
      </div>

      <div class="nav-item ml-auto">
        <%= link_to 'Contact Site Developer:  ', 'mailto:consult.ikraam@gmail.com', class:"nav-link white"%>

      <%= link_to 'https://github.com/ikraamg' do %>
        <%= fa_icon "github", class: 'orange icon p-3' %>
      <% end %>

      <%= link_to 'https://twitter.com/GhoorIkraam' do %>
        <%= fa_icon "twitter", class: 'orange p-3 icon' %>
      <% end %>

      <%= link_to 'https://www.linkedin.com/in/isghoor/' do %>
        <%= fa_icon "linkedin", class: 'orange p-3 icon' %>
      <% end %>
    </div>

    </footer>
    
  </body>
</html>
