<!DOCTYPE html>
<html>
  <head>
    <title>GreatBooks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p id="error_explanation"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
